web.py
gunicorn
Jinja2
Werkzeug

aniso8601
appdirs
click
Flask
Flask-Jsonpify
Flask-RESTful
Flask-SQLAlchemy

itsdangerous
MarkupSafe
packaging
pyparsing
python-dateutil
pytz
six
SQLAlchemy
